.nav-bar {
    display: grid;
    flex-direction: row;
    width: 100%;
    grid-template-columns: 20% 80%;
    padding-left: 10%;
}
ul {
    list-style-type: none;
    float: right;
    padding-right: 30%;
}
  ul > li {
    display: inline;
}
.nav {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding-top: 7%;
}

.nav-link {
    text-decoration: none;
    margin-right: 35px;
}