.nav-bar {
    display: grid;
    border: 1px solid black;
    flex-direction: row;
    width: 100%;
    grid-template-columns: 30% 70%;
}
ul {
    list-style-type: none;
    float: right;
}
  ul > li {
    display: inline;
}
.nav {
    display: inline-block;
    border: 1px solid red;
    height: 100%;
    width: 100%;
}

.logo {
    border: 1px solid blue
}