
.nav-bar {
    display: grid;
    flex-direction: row;
    width: 100%;
    grid-template-columns: 20% 80%;
}
ul {
    list-style-type: none;
    float: right;
    width: 100%;
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    text-shadow: 2px 2px 3px white;
}
  ul > li {
    display: inline;
}
.nav {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding-top: 7%;
    text-align: center;
    margin-left: 5%;
}

.nav-link {
    text-decoration: none;
    color: rgb(119, 88, 160);
    font-size: 20px;
}

.nav-link:hover{
    font-size: 27px;
    position: relative;
}
